$color-primary: #FF5722
$color-link: #E91E63
$color-secondary-text: #727272

body
  margin: 0
  padding: 0
  color: #222222
  background-color: white
  font-size: 16px
  font-family: sans-serif
  width: 210mm
  *
    box-sizing: border-box
    overflow-wrap: break-word
    word-wrap: break-word

.page
  margin: 0
  padding: 0
  height: auto
  width: 200mm
  page-break-after: always
  page-break-inside: avoid
  position: relative
  overflow: hidden

.fragment
  margin: 0
  padding: 0
  > *
    margin: 0

.textFragment
  padding: 0 1rem 0 3rem
.beginParagraph
  height: 1rem
.emptyParagraph
  height: 0.8rem

.header, .footer
  color: $color-primary
  margin: 0
.header
  padding: 1rem 0.5rem 0.5rem 0.5rem
  text-align: left
  border-bottom: solid 1px $color-primary
.footer
  padding: 0.5rem 0.5rem 1rem 0.5rem
  text-align: right
  position: absolute
  bottom: 0
  left: 0
  right: 0

.textFragment.enhiderbackground
  background-color: lighten($color-secondary-text, 45%)

.paperCropFragment
  padding: 0 0.5rem
  img
    max-width: 100%
    display: block
    margin: 0.5rem auto 0.5rem auto
  .topbar
    margin: 0 -0.5rem
    padding: 0 0.5rem
    color: $color-primary
    background-color: lighten($color-secondary-text, 50%)
    text-align: center
    font-size: 0.8rem
    border-bottom: $color-primary solid 2px
