doctype html

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color",content="#ff5722")
    link(rel="manifest", href="/manifest.json")
    link(rel="icon",size="192x192",type="image/png",href="/resources/icon-192.png")
    link(rel="icon",size="144x144",type="image/png",href="/resources/icon-144.png")
    title Schsrch
  body
    .react-root
    p.loading(style='text-align: center') Loading...
    script(src="/resources/bundle.js")
