$color-primary: #FF5722
$color-link: #E91E63
$color-secondary-text: #727272
$color-filepreview-top: darken($color-primary, 20%)

@import url('https://fonts.googleapis.com/css?family=Lato:300')

.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor

.material_button
  background-color: $color-primary
  display: inline-block
  padding: 0.5rem 1rem
  color: white
  cursor: pointer
  transition: background-color 200ms, box-shadow 200ms
  -webkit-tap-highlight-color: transparent
  &:hover
    background-color: $color-link
    box-shadow: 0 -2px 0 rgba(black, 0.4) inset
  &:active
    box-shadow: 0 2px 0 rgba(black, 0.4) inset

body
  background-color: white
  font-size: 16px
  color: #212121
  cursor: default
  min-width: 200px
  margin: 0
  font-family: sans-serif
  *
    box-sizing: border-box
    overflow-wrap: break-word
    word-wrap: break-word

$sidebar-width: 300px

.schsrch
  position: absolute
  left: 0
  top: 0
  width: 100vw
  min-width: 200px
  height: 100vh
  overflow: hidden
  > .content > noscript
    display: block
    text-align: center
    padding: 2rem
    background-color: #FF5722
    color: white
    a
      color: white
      font-weight: bold
  noscript.small
    padding: 0.5rem
  > .content,
  > .contentblackcover,
  > .feedback,
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    min-width: 200px
  > .content > .unsupported
    color: white
    background-color: $color-filepreview-top
    text-align: center
    font-size: 1.1rem
    padding: 1rem
    border-bottom: solid red 2px
    flex-shrink: 0
    flex-grow: 0
    > .considerupgrade
      margin-top: 0.2rem
      font-size: 0.9rem
  > .sidebar
    position: absolute
    top: 0
    width: $sidebar-width
    bottom: 0
    background-color: white
    box-shadow: 2px 0 4px rgba(black, 0.3)
    z-index: 3
    transition: transform 400ms ease
    will-change: transform
    &.hide
      transform: translate(-($sidebar-width)-10px, 0)
      pointer-events: none
    &.show
      transform: translate(0, 0)
    display: flex
    flex-direction: column
    align-items: stretch
    flex-wrap: nowrap
    overflow: auto
    .top
      flex-shrink: 0
      flex-grow: 0
      height: $sidebar-width / 1.333
      display: flex
      flex-direction: row
      align-items: flex-end
      align-content: flex-end
      flex-wrap: wrap
      cursor: pointer
      -webkit-tap-highlight-color: transparent
      background-color: lighten($color-filepreview-top, 5%)
      color: white
      padding: 0.5rem 1rem
      transition: background-color 100ms
      &:active
        background-color: $color-filepreview-top
      margin-bottom: 0.5rem
      .username
        flex-shrink: 0
        flex-grow: 0
        margin-right: auto
      .logout, .password
        cursor: pointer
        padding: 0.5rem
        margin: -0.5rem 0
        &:last-child
          margin-right: -0.5rem
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        &, > *
          flex-shrink: 0
          flex-grow: 0
    .userOperationError
      flex-grow: 0
      flex-shrink: 0
      text-align: center
      margin-bottom: 0.5rem
      .error
        color: red
      .clear
        color: $color-secondary-text
        padding: 0.3rem 1rem
        cursor: pointer
        font-size: 0.8rem
    .menu
      flex-grow: 0
      flex-shrink: 1
      overflow: auto
      .menuitem
        padding: 0.5rem 1rem
        cursor: pointer
        -webkit-tap-highlight-color: transparent
        background-color: transparent
        transition: background-color 100ms
        &:hover, &.current
          background-color: rgba(black, 0.1)
        &:active
          background-color: rgba(black, 0.2)
      .menuitem.mycollections
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: nowrap
        > *
          flex-shrink: 0
          flex-grow: 0
        > .iconcontain
          font-size: 110%
          will-change: transform
          transform: rotate(0) translate(0, 2.5px)
          transition: transform 100ms
          &.expanded
            transform: rotate(180deg) translate(0, 2.5px)
      .collectionlist
        > .loading, > .error, > .empty, > .deprecation
          text-align: center
          font-size: 0.8rem
          padding: 0.5rem 1rem
        > .deprecation
          color: red
        > .loading
          color: black
        > .error
          color: red
        > .empty
          color: $color-secondary-text
        .menuitem
          padding-left: 3rem
          font-size: 90%
          .name.unnamed
            color: lighten(black, 30%)
          &.add-collection
            display: flex
            flex-direction row
            align-items: middle
            .iconcontain
              margin-left: -14.4px - 8px
              margin-right: 0.5rem
            > .error
              color: red
          &.highlight
            background-color: rgba(yellow, 0.4)
    .bottom
      margin-top: auto
      text-align: center
      font-size: 0.9rem
      a
        color: $color-link
        transition: color 100ms
        text-decoration: none
        padding: 0.5rem
        display: inline-block
        cursor: pointer
        &:hover
          color: $color-link
          text-decoration: underline
        &:active
          color: darken($color-link, 15%)
  > .v2viewingPopup
    position: absolute
    top: 0
    width: 100vw
    height: 100vh
    overflow: hidden
    background-color: white
    z-index: 3
    // transition: right 400ms
    transition: transform 400ms ease
    will-change: transform
    &.hide
      // right: -100vw
      transform: translate(100%, 0)
      pointer-events: none
    &.show
      // right: 0
      transform: translate(0, 0)
      box-shadow: -2px 0 4px rgba(black, 0.3)
    display: flex
    flex-direction: column
    align-items: stretch
    flex-wrap: nowrap
    .topbar
      background-color: $color-filepreview-top
      color: white
      flex-grow: 0
      flex-shrink: 0
      font-size: 1.1rem
      a
        color: white
        text-decoration: none
        cursor: pointer
        margin: 0.5rem
        display: inline-block
        -webkit-tap-highlight-color: transparent
        &:active
          color: rgba(white, 0.8)
    .paperviewer
      flex-grow: 1
  > .content // This thing is 100%wh absolute positioned and will contain all main content. (i.e. not feedback dialog and it's back cover)
    overflow-x: hidden
    overflow-y: auto
    z-index: 1
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    noscript
      flex-grow: 0
      flex-shrink: 1
    transition: left 400ms
    will-change: left
    &.leftshift
      left: -20vw
    > .viewcontain
      // Contain all views:
      //   .view-home
      //   .view-search
      //   .view-search + .filepreview (side pane)
      flex-grow: 1
      flex-shrink: 1
      max-height: 100vh
      display: flex
      flex-wrap: nowrap
      flex-direction: row
      align-items: stretch
      overflow: hidden
      > .view
        flex-grow: 1
        flex-shrink: 1
        max-width: 100%
        overflow: hidden // Blame Firefox, IE & Safari for this
        > .prepare-shadow
          transition: box-shadow 200ms
          will-change: box-shadow
        > .shadow
          box-shadow: 0 2px 2px rgba(black, 0.3)
          z-index: 10
      > .filepreview
        flex-grow: 1
        flex-shrink: 1
        border-left: solid 2px $color-primary
    > .viewcontain.sidepane
      > .view
        flex-grow: 0
        flex-shrink: 0
        width: 500px
    > .bottom
      flex-grow: 0
      flex-shrink: 1
      border-top: solid 1px #aaa
      padding: 0.5rem 1rem
      background-color: lighten($color-link, 40%)
      > a
        @extend .material_button
      .paperName
        a
          color: $color-link
          transition: color 200ms
          cursor: pointer
          &:hover
            color: darken($color-link, 10%)
            border-bottom: solid 1px #aaa

.contentblackcover
  z-index: 2
  background-color: rgba(black, 0.5)
  transition: opacity 600ms
  will-change: opacity
  opacity: 0

.sidebarbtn
  font-size: 1.5rem
  padding: 0.5rem
  display: flex
  flex-direction: row
  align-items: center
  color: $color-primary
  background-color: transparent
  transition: background-color 200ms
  -webkit-tap-highlight-color: transparent
  > *
    flex-shrink: 0
    flex-grow: 0
  &:hover
    background-color: rgba(black, 0.05)
  &:active
    background-color: rgba($color-primary, 0.2)

.schsrch .view-home
  overflow-y: auto !important
  .sidebarbtn
    position: absolute
    top: 1rem
    left: 1rem
    width: auto
    height: auto
  .helph1
    margin-top: 14px
    font-size: 1.7rem
    line-height: 40px
    color: $color-primary
    text-align: center
    font-family: 'Lato', sans-serif
    font-weight: 300
  .searchbarcontain.helping
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    max-width: 90vw
    margin-left: auto
    margin-right: auto

.searchbar
  .bannerContain
    transition: all 100ms
    text-align: center
    display: flex
    color: $color-primary
    flex-wrap: nowrap
    justify-content: center
    align-items: center
    flex-direction: row
    .icon
      transition: width 200ms, height 200ms
  .bannerContain.hide
    display: none
  .inputContain
    $inputFontSize: 1.3rem
    $inputLineHeight: 1.8
    position: relative
    transition: all 100ms
    .querybox
      border: none
      outline: none
    .querybox, .stroke, .inputPositionWrap
      transition: all 100ms
    .inputPositionWrap
      position: relative
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: flex-end
      margin-left: auto
      margin-right: auto
      height: $inputFontSize * $inputLineHeight
      .querybox
        flex-grow: 1
        flex-shrink: 1
      .stroke
        position: absolute
        z-index: 2
        height: 2px
        bottom: 0
        left: 0
        right: 0
        background-color: lighten($color-primary, 30%)
        overflow: hidden
        .fill
          height: 2px
          background-color: $color-primary
      .rightWrap
        padding-top: 0.3rem
        padding-left: 0.5rem
        padding-right: 0.5rem
        background-color: rgba(white, 0.7)
        z-index: 1
        flex-grow: 0
        flex-shrink: 0
        .clearInput
          display: inline-block
          cursor: pointer
          margin-top: -0.3rem
          margin-left: -0.5rem
          margin-right: -0.5rem
          padding-top: 0.3rem
          padding-left: 0.5rem
          padding-right: 0.5rem
          padding-bottom: 0.5rem
          .icon
            vertical-align: middle
            line-height: 0
            color: $color-primary
    .querybox
      color: $color-primary
      display: inline-block
      font-size: $inputFontSize
      line-height: $inputLineHeight
      margin: 0
      padding: 0
    .querybox
      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder
        color: $color-primary
    .querybox.border
      border-bottom: 2px $color-primary solid
    .subjecthints
      background-color: white
      z-index: 4
      .subject
        background-color: white
        transition: background-color 200ms
        padding: 0.3rem 1rem
        .level, .id
          font-size: 50%
          color: $color-secondary-text
      .subject:hover, .subject.select
        background-color: darken(white, 10%)

.searchbar.big
  .bannerContain
    margin-top: 20vh
    height: 160px
    .icon
      display: none
    .banner
      height: 135px
  .inputContain
    display: block
    text-align: center
    margin-top: 1rem
    background-color: rgba($color-primary, 0.05)
    .inputPositionWrap, .subjecthints
      width: 90%
    .querybox
      text-align: center
      background-color: transparent
    .subjecthints
      margin-left: auto
      margin-right: auto
.searchbar.small
  flex-shrink: 0
  margin: 0
  padding-top: 0.5rem
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  .bannerContain
    margin-left: 0.5rem
    margin-right: 0.5rem
    .icon
      width: 2rem
      height: 2rem
    .banner
      width: 0
  .inputContain
    flex-grow: 1
    margin-left: 0.5rem
    .querybox
      text-align: left
    .inputPositionWrap, .subjecthints
      width: 100%
    .subjecthints
      position: absolute
  .inputContain.hidebanner
    margin-left: 0

.schsrch .home-desc
  margin-top: 2rem
  text-align: center
  font-size: 1rem
  .links
    margin-bottom: 2rem
    a
      color: $color-link
      margin-left: 1rem
      margin-right: 1rem
      cursor: pointer
      text-decoration: none
      display: inline-block
      line-height: 1.5
  .status
    font-size: 0.8rem
    color: lighten($color-primary, 10%)
    padding-left: 0.5rem
    padding-right: 0.5rem
    .large
      font-size: 1rem
      color: lighten($color-primary, 5%)
    .error-display
      max-width: 40rem
      margin-left: auto
      margin-right: auto
    .reload span
      color: $color-link
      line-height: 2
      padding: 0.5rem 2rem
      cursor: pointer
      font-size: 0.7rem
    .error, .reload
      font-size: 0.75rem
    div
      margin-bottom: 0.6rem
    a
      color: $color-link
      transition: color 200ms
      text-decoration: none
      cursor: pointer
      &:hover
        color: darken($color-link, 20%)
  .status.loading
    opacity: 0.5
  .cieinprog, .mirrornotice
    margin-bottom: 1rem
    color: $color-primary
    a
      color: $color-link
      text-decoration: none
  .copyright
    margin-top: 3em
    font-size: 0.8rem
    color: $color-primary
    a
      color: $color-link
      text-decoration: none
  .help
    margin-bottom: 1rem
    .helpbtn
      display: block
      color: $color-link
      text-decoration: none
      cursor: pointer
      padding: 1rem
      margin: -1rem
  .notification
    background-color: lighten($color-primary, 42%)
    color: $color-primary
    padding: 0.5rem 1rem
    margin-bottom: 0.5rem
    border-top: $color-link solid 3px

.schsrch .view-search
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  .searchbarcontain
    flex-grow: 0
    flex-shrink: 0
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch
    > .sidebarbtn
      flex-grow: 0
      flex-shrink: 0
      width: 38px
      transition: transform 100ms
    > .searchbar
      flex-grow: 1
      flex-shrink: 1
    &.noshadow
      > .sidebarbtn
        transform: translate(0, 0.25rem)
  .searchcontain
    flex-grow: 1
    flex-shrink: 1
    overflow-y: auto
    position: relative

.searchresult.loading
  opacity: 0.5
  pointer-events: none
.searchresult
  .overflow
    padding: 1rem 2rem
    cursor: auto
    .subject
      color: $color-secondary-text
      font-size: 80%
    .sy
      a
        color: $color-link
        cursor: pointer
        transition: color 100ms
        text-decoration: none
        &:active
          color: darken($color-link, 10%)
    pre, p
      margin: 0.5rem 0
      padding: 0
    .time, pre
      color: $color-primary
    ul
      li.noinstance
        opacity: 0.8
    ul.timeslist
      list-style-type: none
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: flex-start
      align-items: baseline
      max-width: 3 * 8rem + 1rem
      padding: 0
      margin-left: 1rem
      li
        cursor: pointer
        padding: 0.25rem 0
        margin: 0
        color: $color-primary
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        max-width: 8rem
        .count
          color: $color-secondary-text
          font-size: 75%
        a
          color: inherit
          text-decoration: inherit
  .empty
    padding: 3rem 5rem
  .set, .filepreview
    margin-top: 0.5rem
    margin-bottom: 0.3rem
  .set
    padding: 0 0 0.5rem 0
    background-color: rgba($color-primary, 0.05)
    .setname
      padding: 0.5rem 1rem
      background-color: rgba($color-primary, 0.1)
      font-size: 1rem
      color: $color-secondary-text
      .time, .paper, .variant
        color: $color-primary
        display: inline-block
      .paper.meta
        color: $color-secondary-text !important
        font-size: 1rem !important
      .subject
        .level
          font-size: 60%
          vertical-align: middle
    a
      color: inherit
    .files
      padding-top: 1rem
      .file
        padding: 0.3rem 1rem
    .related
      padding-top: 0.5rem
      padding-left: 2rem
      padding-right: 2rem
      .file
        padding: 0.1rem 0.5rem
    .files, .related
      padding-left: 1rem
      padding-right: 1rem
      color: $color-secondary-text
    .file
      cursor: pointer
      .typename
        color: $color-link
        font-size: 110%
        margin-right: 1rem
      .desc
        font-size: 90%
    .file.first
      padding: 1rem 1rem 0.5rem 1rem
      .foundon
        color: $color-primary
      .indexcontent
        font-size: 80%
        margin-top: 0.5rem
        color: $color-secondary-text
        .highlight
          color: $color-primary
  .filepreview
    width: 100%
    height: 80vh
  .searchprompt
    padding-left: 0.5rem
    padding-right: 0.5rem

  .warning
    border-top: 2px solid $color-link
    background-color: lighten($color-primary, 40%)
    text-align: left
    padding: 0.5rem 1rem
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    a
      color: $color-link
      cursor: pointer
      transition: color 200ms
      &:hover
        color: darken($color-link, 20%)
        border-bottom: solid 1px rgba($color-secondary-text, 0.2)

  .fulltextlist
    .paperviewer.loaded
      height: 50vh
    .paperviewercontain
      width: 100%
      background-color: rgba($color-primary, 0.05)
      padding-right: 14px


.searchresult.v2
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  .v2container
    height: 100%
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch

    .v2paperlist
      flex-shrink: 0
      flex-grow: 0
      width: 40px
      overflow-y: auto

      .tsscontainer
        width: 100%
        min-height: 100%
        border-right: 2px $color-primary solid
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        overflow-x: visible

      .ts
        overflow-x: visible
        .tit
          border-bottom: $color-primary dashed 2px
          font-size: 0.7rem
          color: $color-primary
          padding-top: 1rem
          text-align: right

      .paper
        cursor: pointer
        color: $color-link
        font-size: 1.1rem
        text-align: center
        padding: 0.7rem 0
        $a: rgba(1,1,1,0) solid 2px
        border-left: $a
        border-top: $a
        border-bottom: $a
        &.current
          $b: $color-primary solid 2px
          border-left: $b
          border-top: $b
          border-bottom: $b
          color: $color-primary
          margin-right: -2px
          background-color: white

    .viewercontain
      flex-shrink: 1
      flex-grow: 1
      overflow: hidden
      .null
        text-align: center
        margin-top: 2rem
        color: $color-secondary-text

      .initresultlist
        overflow: auto
        .timeset
            margin-bottom: 1rem
            .time
              border-bottom: dashed 2px $color-primary
              padding-left: 0.5rem
              padding-right: 0.5rem
              color: $color-primary
              font-size: 1.2rem
              .subjname
                font-size: 1rem
                color: $color-secondary-text
            .paper
              margin-top: 0.5rem
              margin-bottom: 0.5rem
              padding-left: 1rem
              padding-right: 1rem
              .pv
                font-size: 1.1rem
                margin-right: 1rem
              .typelist > a
                display: inline-block
                color: $color-link
                cursor: pointer
                margin-right: 1rem

.searchresult.smallsetname .set, .set.small, .set.mini
  .setname
    font-size: 0.9rem
    .time, .paper, .variant
      color: $color-primary
      font-size: 0.9rem
      display: inline-block
  .typename
    font-size: 1rem
  &.mini
    background-color: transparent
    margin: 0
    .setname, .files, .files > .file:first-child
      display: inline-block
      margin-top: 0
      margin-bottom: 0
    .files
      padding: 0
    .typename
      font-size: 0.9rem
    .subject
      display: none
  .related
    padding-top: 0.5rem
    padding-left: 1rem
    font-size: 0.9rem
    .file
      padding: 0.1rem 0.5rem

.searchprompt
  color: $color-primary
  line-height: 1.5
  font-size: 0.8rem
  &.center
    text-align: center
  .error
    color: red
  a
    color: $color-link
    cursor: pointer
    &:hover
      color: lighten($color-link, 20%)

.sidepane .view-search .searchresult
  .set.current-previewing
    background-color: rgba(#aaa, 0.1)
    border-right: solid 2px $color-primary

$feedback-top-height: 2rem + 1.3rem
.feedback.hide
  visibility: hidden
.feedback
  z-index: 3
  background-color: white
  padding: 0
  .top
    background-color: $color-primary
    color: white
    font-size: 1.3rem
    line-height: 1.3rem
    height: $feedback-top-height
    position: absolute
    left: 0
    right: 0
    top: 0
    padding: 1rem 2rem
    box-shadow: 0 0 4px #000
    .close
      vertical-align: middle
      font-size: 0.9rem
      opacity: 0.9
      transition: background-color 200ms
      padding: 0.5rem
    .close:active
      background-color: rgba(white, 0.2)
  > .content
    position: absolute
    left: 0
    right: 0
    top: $feedback-top-height
    bottom: 0
    padding: 2.3rem
    overflow: auto
    h2
      font-size: 1.3rem
      margin: 0
      line-height: 1.3
      font-weight: normal
      color: $color-primary
    .email, textarea
      width: 100%
      outline: none
      border-top: none
      border-left: none
      border-right: none
      font-size: 0.9rem
    textarea
      height: 4rem
      resize: vertical
      max-height: 50vh
      border-bottom: solid 2px $color-primary
    textarea:disabled
      opacity: 0.5
      background: none
    .email
      border-bottom: solid 1px $color-primary
    .submit
      margin: 0.5rem 0
      @extend .material_button
    .submitting, .error
      font-size: 0.8rem
      margin: 0.5rem 0
    .submitting
      color: $color-primary
    .error
      color: red
    .searchReport
      color: $color-primary
      font-size: 1.2rem

.filepreview
  color: white
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  background-color: white
  &.fullscreen
    width: 100%
    height: 100%
  .loading, .error
    padding: 1rem 2rem
    flex-grow: 0
    flex-shrink: 0
  .loading, .top
    background-color: $color-filepreview-top
  .top
    text-align: center
    font-size: 1rem
    line-height: 2
    flex-grow: 0
    flex-shrink: 0
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    &.fixed
      position: fixed
      z-index: 11
      top: 0
      left: 0
      right: 0
      height: 50px
      border-left: solid 2px white
      background-color: rgba(lighten($color-filepreview-top, 10%), 0.9)
      box-shadow: 2px 2px 5px rgba(black, 0.3)
    > *
      flex-shrink: 0
      flex-grow: 0
    .page
      display: inline-block
      .icon
        vertical-align: middle
        line-height: 0
      .input
        display: inline
        text-align: center
        width: 2rem
        background-color: transparent
        border-top: 0
        border-left: 0
        border-right: 0
        border-bottom: solid 1px white
        outline: none
        &::-webkit-inner-spin-button
          appearance: none
          -moz-appearance: none
          -webkit-appearance: none
        color: inherit
        font: inherit
        line-height: 1
        vertical-align: middle
    .dir, .crop, .download, .fullscreen, .close, .prev, .next
      margin-left: 0.5rem
      cursor: pointer
      vertical-align: middle
      line-height: 0
    a
      text-decoration: none
      color: inherit
      &.doc
        text-decoration: underline
        padding-left: 0.5rem
        padding-right: 0.5rem
        margin-left: -0.5rem
        margin-right: -0.5rem
    .dir, .crop, .download, .fullscreen, .close
      font-size: 1.2rem
    .prev.disabled, .next.disabled
      opacity: 0.5
    .prev
      margin-right: 1rem
  .pdfview
    flex-grow: 1
    flex-shrink: 1
    background-color: white
    display: flex
    position: relative
    flex-direction: column
    flex-wrap: nowrap
    overflow: hidden
    background-color: white
    > .hide
      display: none
    > .show
      flex-grow: 1
      flex-shrink: 1
    > .dircontain
      flex-grow: 1
      flex-shrink: 1
      overflow: auto
  .pdfview.dirty
    opacity: 0.3
  .sspdfview
    position: absolute
    .questionln
      background-color: rgba($color-primary, 0.1)
      cursor: pointer
    .questionln.highlight
      background-color: rgba($color-link, 0.2)
    .erbtn
      background-color: rgba(red, 0.1)
      cursor: pointer
    .diroverlayerror
      overflow: hidden
      padding: 0
      div
        background-color: rgba(red, 0.8)
        color: white
        font-size: 1rem
        text-align: center
        margin: 0
        padding: 0.5rem
  .selectprompt
    a
      @extend .material_button

.sspdfview
  background-color: white
  overflow: hidden
  width: 100%
  position: relative
  &.textsel
    cursor: text
  &.textsel .questionln
    display: none
  .unsupported
    color: $color-primary
    font-size: 1.2rem
    text-align: center
    margin: 1rem
  .svglayer, .selectlayer, .dirtylayer, .pointereventcover, .msref, .pointereventcover > .cropoverlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
  .svglayer
    z-index: 2
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    will-change: background-size, background-position
  .dirtylayer
    z-index: 1
    pointer-events: none
  .selectlayer
    z-index: 0
  .pointereventcover
    z-index: 3
    color: black
    font-size: 1.2rem

    .cropoverlay
      $bdr: solid 3px $color-primary
      > div
        position: absolute
        width: 40px
        height: 40px
        cursor: move
        z-index: 2
      .lt
        border-bottom: $bdr
        border-right: $bdr
      .t
        border-bottom: $bdr
      .rt
        border-left: $bdr
        border-bottom: $bdr
      .rb
        border-top: $bdr
        border-left: $bdr
      .r
        border-left: $bdr
      .b
        border-top: $bdr
      .lb
        border-top: $bdr
        border-right: $bdr
      .l
        border-right: $bdr
    .cropmask
      pointer-events: none
      > div
        background-color: rgba(black, 0.5)
        position: absolute
        z-index: 1
    .wordsel
      background-color: rgba($color-primary, 0.2)
      cursor: text
    .wordsel-border
      border: dashed 1px $color-primary
      pointer-events: none
    .textmenu
      overflow: visible
      div
        position: absolute
        top: 0
        left: 0
        width: auto
        height: auto
        background-color: white
        box-shadow: 2px 2px 5px rgba(black, 0.3)
        opacity: 0.9
        font-size: 0.8rem
        font-weight: lighter
        padding: 0.8rem
        span
          display: inline-block
          padding: 0.3rem 1rem
          border-right: solid 1px #aaa
          &:last-child
            border-right: none
          cursor: pointer

.disclaimer
  padding: 1.5rem
  .back
    display: inline-block
    padding: 0.5rem 0.7rem
    margin-right: 0.5rem
    vertical-align: middle
    background-color: transparent
    transition: background-color 200ms
    &:active
      background-color: rgba($color-primary, 0.2)
  a
    color: $color-link
    text-decoration: underline
    cursor: pointer
    &.back
      color: inherit
  h1
    display: inline-block
    vertical-align: middle
    font-size: 1.3rem
    margin: 0
    padding: 0
    line-height: 1.3
    font-weight: normal
    color: $color-primary
  .tldr
    font-size: 1rem
    color: $color-primary
    margin-top: 0.5rem
    padding: 0 1rem
  ul
    margin: 0
    padding: 0.5rem 1rem
    cursor: auto
    list-style-type: none
    li
      margin: 0.5rem 0
      &::before
        content: '・'
        margin-left: -1em
        color: $color-primary

.docdirlist
  color: black
  .msg
    padding: 0.5rem 1rem
    color: $color-primary
    font-size: 1rem
  ul
    list-style-type: none
    padding: 0
    margin: 0
    li
      cursor: pointer
      margin: 0
      padding: 0.5rem
      line-height: 1.2
      font-size: 1rem
      .qn
        text-align: right
        min-width: 3rem
        display: inline-block
        padding-right: 0.25rem
        margin-right: 0.5rem
        border-right: solid 1px #aaa
        color: $color-primary
        span
          color: #aaa
          font-size: 75%
      .page
        color: #aaa
        font-size: 75%
    li.erdir-paper
      cursor: default
      color: $color-primary
      padding: 0.5rem
      margin: 0
      ul
        list-style-type: none
        margin: 0 0 0 1rem
        padding: 0
        vertical-align: middle
        li
          margin: 0 0
          padding: 0 0.5rem
          cursor: pointer
          color: black
          display: inline-block
          vertical-align: middle

.schsrch .view.view-collection
  display: flex
  flex-direction: column
  align-items: stretch
  noscript
    flex-shrink: 0
    flex-grow: 0
    font-size: 1.1rem
    text-align: center
    padding: 1rem
    display: block
    .small
      font-size: 0.8rem
      color: $color-secondary-text
  > div
    flex-shrink: 0
    flex-grow: 1
    width: 100%
    height: 100%
    margin: 0
    display: flex
    flex-direction: column
    flex-wrap: nowrap

    &.doc
      $color-divider: #ccc
      > .top
        flex-shrink: 0
        flex-grow: 0
        height: 3rem
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid $color-divider
        overflow: hidden
        > .sidebarbtn, .undo, .redo, .menu
          flex-shrink: 0
          flex-grow: 0
          color: $color-primary
          font-size: 1rem
          padding: 0.5rem 1rem
          cursor: pointer
          &.disabled
            opacity: 0.5
        > .menu
          font-weight: bold
        > h1
          flex-grow: 1
          flex-shrink: 1
          padding: 0
          margin: 0
          font-weight: normal
          font-size: 1.5rem
          text-align: center
          > input
            width: 100%
            height: 2rem
            border: hidden
            outline: none
            text-align: center
            font-size: 1.5rem
            min-width: 50px
            &.untitled
              border-bottom: dashed 1px $color-divider
            &:disabled
              background-color: transparent
      > .menu
        flex-grow: 0
        flex-shrink: 0
        border-bottom: 1px solid $color-divider
        background-color: lighten($color-primary, 40%)
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-end
        align-items: center
        padding-right: 0.5rem
        > span
          flex-shrink: 0
          flex-grow: 0
          padding-top: 0.5rem
          padding-bottom: 0.5rem
        > span.menuitem
          padding-left: 1rem
          padding-right: 1rem
          cursor: pointer
          color: $color-primary
          &.delete
            color: red
        > .printingProgress
          margin: 0
          align-self: flex-end
          width: 100%
          height: 2px
          .fill
            background-color: $color-primary
            height: 2px
            margin: 0
        > .error
          color: red
      > .bottom
        flex-shrink: 0
        flex-grow: 0
        height: 1.4rem
        line-height: 1.4rem
        font-size: 0.8rem
        color: $color-secondary-text
        border-top: 1px solid $color-divider
        padding: 0 0.5rem
        &.error
          color: red
          background-color: lighten(red, 40%)
      > .editorcontain
        flex-grow: 1
        flex-shrink: 1
        display: flex
        flex-wrap: nowrap
        flex-direction: column
        overflow: hidden // Blame Firefox, IE & Safari for this (again)
        > .loading, .error-display
          flex-grow: 0
          flex-shrink: 0
        > .loading
          text-align: center
          font-size: 1.2rem
          line-height: 2
          color: $color-secondary-text
        .collectionEditor
          flex-grow: 1
          flex-shrink: 1
          width: 100%
          display: flex
          flex-wrap: nowrap
          align-items: stretch
          flex-direction: row
          overflow: hidden // .
          > .sidebar
            flex-shrink: 0
            flex-grow: 0
            width: 3rem
            text-align: center
            border-right: 1px solid $color-divider
            overflow: auto
            > div
              margin: 0
              padding: 0.75rem 0
              font-size: 1rem
              cursor: pointer
              &.description
                padding: 0.25rem 0
                font-size: 0.7rem
                color: $color-secondary-text
                cursor: default
              &.disabled
                opacity: 0.6
                cursor: default
          > .content
            flex-shrink: 1
            flex-grow: 1
            overflow: auto
            cursor: text
            outline: none
            padding: 0.5rem 1rem
            max-height: 100%
            p
              margin-left: auto
              margin-right: auto
              max-width: 800px
            .enHider, .enPaperCrop
              margin-left: auto
              margin-right: auto
              cursor: default
              .menu
                background-color: darken(white, 3%)
                border-bottom: solid 2px $color-primary
                font-size: 1rem
                padding-top: 0.25rem
                padding-bottom: 0.25rem
                display: flex
                flex-direction: row
                > span
                  cursor: pointer
                  padding-left: 0.5rem
                  padding-right: 0.5rem
                  flex-shrink: 0
                  flex-grow: 0
                > a
                  padding-left: 0.5rem
                  padding-right: 0.5rem
            .enHider
              background-color: lighten($color-divider, 15%)
              .menu
                .show
                  margin-left: auto
                  margin-right: auto
                  padding-left: 1rem
                  padding-right: 1rem
                  color: $color-primary
              .hiddeneditor
                display: none
              .editorcontain
                margin: 0
                padding: 0
            .enPaperCrop
              .menu
                flex-wrap: wrap
                border-bottom: solid 2px $color-filepreview-top
                > .doc
                  margin-left: auto
                  margin-right: auto
                  color: $color-primary
                  cursor: pointer
                  transition: color 200ms
                  &:hover
                    color: $color-link
                    border-bottom: solid 1px #aaa
                > span:last-child
                  margin-right: auto
              .prompt
                text-align: center
                padding-left: 0.5rem
                padding-right: 0.5rem
                span
                  font-size: 1.2rem
                  vertical-align: middle
                a
                  cursor: pointer
                  color: $color-link
                &.apply
                  a
                    display: inline-block
                    margin: 0.5rem
                    padding: 1rem
                    border: solid 1px rgba($color-primary, 0.2)
              .doccontain
                position: relative
                .sspdfview
                  margin-left: auto
                  margin-right: auto
                  z-index: 1
                .annotations
                  position: absolute
                  top: 0
                  left: 0
                  width: 100%
                  height: 100%
                  z-index: 2
            .annotations
              overflow: hidden
              .placeholder
                color: $color-primary
                font-size: 1.2rem
                text-align: center
                width: 100%
                height: 100%
                background-color: rgba(white, 0.5)
                padding: 1rem
                .pen
                  font-size: 3rem
                  color: $color-primary
                  opacity: 0.7
                  margin: 0.5rem
              .creationPrompt, .selectionMenu
                position: absolute
                background-color: $color-primary
                color: white
                font-size: 1rem
                overflow: hidden
                z-index: 2
                span
                  display: inline-block
                  width: 40px
                  height: 40px
                  line-height: 40px
                  text-align: center
                  cursor: pointer
              .creationPrompt
                border-radius: 10px
                border: solid 2px $color-filepreview-top
              .selectionMenu
                border-top: solid 1px $color-filepreview-top
                .move
                  cursor: move
              .sketchCreate
                position: absolute
                right: 0
                bottom: 0
                width: auto
                height: auto
                background-color: rgba($color-primary, 0.8)
                color: white
                border-radius: 5px 0 0 0
                padding: 0.5rem 1rem
                z-index: 2
              .ano.sketch
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 1
        > .nologin, .deprecation
          text-align: center
          padding: 0.5rem
          border-bottom: $color-primary solid 1px
          flex-shrink: 0
          flex-grow: 0
          .big
            font-size: 1.2rem
            color: $color-primary
          a
            color: $color-link
            cursor: pointer

.schsrch .view.view-login,
.schsrch .view.view-challenge-replace
  text-align: center
  > .contain
    max-width: 800px
    margin-left: auto
    margin-right: auto
    padding-left: 1rem
    padding-right: 1rem
    h1
      border-bottom: solid 1px $color-primary
      padding: 1rem 2rem
      display: inline-block
      font-size: 1.5rem
      font-weight: normal
    .btn
      padding: 1rem 0
      a
        color: $color-link
        padding: 0.5rem
        cursor: pointer
    .tokenInput, .usernameInput, .passwordInput
      border-top: none
      border-right: none
      border-bottom: solid 2px $color-primary
      border-left: none
      background-color: transparent
      font-size: 1rem
      text-align: left
      width: 100%
      outline: none
    .progress
      color: $color-primary
  &.view-login > .contain .stage,
  &.view-challenge-replace > .contain
    > .back
      display: inline-block
      padding: 0.5rem 1rem
      color: $color-link
      border-bottom: $color-link solid 1px
      cursor: pointer
      &.bmargin
        margin-bottom: 1rem
  &.view-login > .contain .stage .cstate.loading,
  &.view-challenge-replace > .contain > .loading
    color: $color-primary
    font-size: 1rem
    padding: 0.5rem
    border-top: solid 1px $color-primary
    border-bottom: solid 1px $color-primary
.schsrch .view.view-login
  > .contain
    .stage
      .cstate.notexist .license
        font-weight: bold
      &.username, &.setPassword
        .usernameInput, .passwordInput
          text-align: center
.schsrch .view.view-challenge-replace
  .main
    margin-top: 1rem

.schsrch .view.view-subjects
  padding: 1rem 2rem
  overflow: auto !important
  a
    color: $color-link
    text-decoration: none
    cursor: pointer
    transition: color 200ms
    &:hover
      color: darken($color-link, 20%)
  .return
    a
      color: $color-link
      text-decoration: none
      padding: 0.5rem
      margin-left: -0.5rem
      margin-right: -0.5rem
      display: inline
      cursor: pointer
      &:hover
        color: darken($color-link, 10%)
  h2
    color: $color-primary
    margin: 0
    padding: 1rem 0
    font-size: 1.5rem
    font-weight: normal
  ul
    list-style-type: none
    padding: 0
    margin: 0.5rem 0
    li
      padding: 0 0.5rem
      margin: 0
      a
        color: inherit
        &:hover
          color: darken($color-link, 20%)
      .count
        font-size: 50%
        color: $color-primary
      .times
        line-height: 1.5
        font-size: 0.9rem
        a
          color: $color-primary
          &:hover
            color: darken($color-primary, 15%)

.schsrch-help
  cursor: auto !important
  padding: 0 2rem
  a
    color: $color-link
    text-decoration: none
  p
    margin: 0.5rem 0
    padding: 0
    line-height: 1.5
  h2
    color: $color-primary
    margin: 1rem 0
    padding: 0
    font-weight: normal
  h3
    margin: 0.5rem 0
    font: 120%
    font-weight: normal
    padding: 0
  .searchlink
    display: block
    color: $color-primary
    margin: 0.3rem 0.7rem
    .q
      display: block
      border-bottom: solid 2px $color-primary
      font-size: 1rem
      cursor: pointer
      color: $color-primary
      text-decoration: none
    .e
      font-size: 0.7rem
      line-height: 1.2
      display: block

.schsrch-main-crash
  margin: 0
  padding: 0 1rem
  border-top: red solid 2px
  $max-width: 50rem
  h1, h2
    font-weight: normal
    margin: 0
  h1
    font-size: 4rem
    text-align: center
    color: $color-secondary-text
    padding: 1rem
  h2
    text-align: center
    font-size: 1.2rem
    padding: 0.5rem
    color: red
    border-top: $color-primary solid 1px
    border-bottom: $color-primary solid 1px
  h2, p, pre, .reload-btn-contain
    max-width: $max-width
    margin-left: auto
    margin-right: auto
  p, pre
    padding-left: 0
    padding-right: 0
  pre
    overflow-x: auto
    font-size: 0.7rem
  .reload-btn-contain
    text-align: center
    .reload-btn
      @extend .material_button

.error-display
  text-align: left
  color: black
  .heading
    color: rgba(black, 0.5)
    font-size: 0.8rem
    text-align: center
    .retry
      @extend .material_button
      margin-left: 0.5rem
  .message
    color: red
    border-top: solid 1px red
    border-bottom: solid 1px red
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    text-align: center
    &.bmargin
      margin-bottom: 1rem
  .submessage
    margin-top: 1rem
  .submessage, .message
    padding-left: 0.5rem
    padding-right: 0.5rem
    a
      cursor: pointer
      color: $color-link
      text-decoration: none

.paperviewer
  width: 100%
  height: 100%
  overflow: hidden

  &.loading
    text-align: center
    padding-top: 1rem

    .loadingtitle
      font-size: 1.1rem
      color: $color-primary
    .loadingdesc
      margin-top: 1rem
      font-size: 0.8rem
      color: $color-secondary-text

  &.loaded
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch
    .papersetindicate
      width: 100%
      flex-grow: 0
      flex-shrink: 0
      background-color: $color-filepreview-top
      font-size: 1rem
      padding: 0.5rem 0.5rem 0 0.5rem
      color: white
    .typebar
      width: 100%
      flex-grow: 0
      flex-shrink: 0
      height: 30px
      background-color: $color-filepreview-top
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      overflow-x: auto
      align-items: flex-end
      padding-left: 0.5rem
      padding-right: 0.5rem

      > .item
        height: 22px
        width: 6rem
        overflow: hidden
        font-size: 1rem
        text-align: center
        color: white
        position: relative
        cursor: pointer
        .loadingfill
          position: absolute
          background-color: rgba(white, 0.2)
          top: 0
          bottom: 0
          left: 0
          pointer-events: none

        &.current
          width: 12rem
          height: 26px
          background-color: white
          border-top: solid 2px $color-primary
          color: black
          cursor: default
          .loadingfill
            background-color: rgba($color-primary, 0.2)
          .download
            display: inline-block
            padding: 0.2rem 0.5rem
            margin-top: -0.2rem
            margin-bottom: -0.2rem
            color: $color-link
            cursor: pointer
            text-decoration: none

    .pdfcontain
      flex-grow: 1
      flex-shrink: 1
      position: relative
      width: 100%
      .pdfjsviewer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1
      .dirmenu
        position: absolute
        background-color: lighten($color-primary, 40%)
        color: $color-primary
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        width: 80px
        z-index: 2
        box-shadow: 2px 2px 2px rgba(black, 0.5)
        > .item
          flex-grow: 0
          flex-shrink: 0
          width: 80px
          padding: 0.5rem 1rem
          cursor: pointer
          &.nothing
            cursor: default
            font-size: 0.7rem

    .ques
      overflow-y: auto
      .h
        padding: 0.5rem 1rem
      .question
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: stretch
        max-width: 100%
        padding: 1px 0
        border-bottom: $color-secondary-text solid 1px
        cursor: pointer
        .left
          flex-grow: 0
          flex-shrink: 0
          width: 3rem
          border-right: $color-primary solid 1px
          display: flex
          flex-direction: column
          flex-wrap: nowrap
          justify-content: center
          align-items: center
          .num
            color: $color-primary
            font-size: 1.1rem
        .body
          flex-grow: 1
          flex-shrink: 1
          display: flex
          flex-direction: column
          flex-wrap: nowrap
          justify-content: center
          align-items: stretch
          overflow: hidden
          padding-left: 0.5rem
          .title
            font-size: 1rem
            height: 1.5rem
            line-height: 1.5rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
          .jump
            font-size: 0.8rem
            color: $color-secondary-text
            a
              margin: -0.5rem 0
              padding: 0.5rem 0.5rem
              display: inline-block
              color: $color-link
              cursor: pointer
              &.disabled
                cursor: default
                color: $color-secondary-text
                text-decoration: line-through

    .pdfcontain.blob
      text-align: center
      .h
        color: $color-primary
      .dl
        a
          color: $color-link
          text-decoration: none
          font-size: 2rem
          padding: 1rem
          display: inline-block
          cursor: pointer

.paperviewer
  &.loading .progressbar,
  &.loaded .pdfcontain.loading .progressbar,
  &.loaded .pdfcontain .progressbar.floating
    background-color: lighten($color-primary, 30%)
    width: 80%
    height: 2px
    margin: 1rem auto
    padding: 0
    .fill
      margin: 0
      background-color: $color-primary
      height: 100%
      transition: width 100ms
    &.floating
      position: absolute
      left: 0
      width: 100%
      top: 0
      margin: 0
      height: 4px
      z-index: 10

.pdfjsviewer
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  position: relative
  canvas
    margin: 0
    padding: 0
    position: absolute
    top: 0
    left: 0
    z-index: 1
  .textlayercontain, .textlayercontain > *, .textlayercontain > * > *
    position: absolute
    white-space: pre
    transform-origin: top left
    color: rgba(black, 0)
  .textlayercontain > * > *
    cursor: text
    &::selection
      background-color: rgba($color-primary, 0.3)
      color: rgba(black, 0)
  .textlayercontain
    overflow: hidden
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
  .scrollbar
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 20px
    z-index: 3
    overflow: visible
    .line, .floating
      position: absolute
      right: 8px
      width: 4px
      border-radius: 2px
    .line
      top: 20px
      bottom: 20px
      background-color: rgba($color-secondary-text, 0.5)
    .floating
      background-color: $color-primary
    .indicator
      position: absolute
      background-color: rgba(black, 0.8)
      color: #999
      font-size: 1rem
      width: auto
      height: auto
      padding: 10px
      border-radius: 4px
      line-height: 20px
      right: 50px
      transform: translate(0, -20px)
      text-align: center
      white-space: nowrap
      b
        color: white

.consoleout
  color: $color-primary
  font-size: 0.8rem
  text-align: left
  white-space: pre
  overflow-x: auto
  height: auto
  position: absolute
  top: 100%
